APP_NAME=meetAI
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DEFAULT_PRESENTATION_LANGUAGE_WEIGHT=0.6
DEFAULT_PRESENTATION_NONVERBAL_WEIGHT=0.4
DEFAULT_INTERVIEW_LANGUAGE_WEIGHT=0.7
DEFAULT_INTERVIEW_NONVERBAL_WEIGHT=0.3
